<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=\"refresh\" content=\"30\" name=\"viewport\" content=\"width=device-width, initial-scale=1.0,
          user-scalable=no\">
    <title>Setting</title>
    <style>html {font-family: Helvetica; display: inline-block; margin: 0px auto; text-align: center;}
           body{margin-top: 50px;} h1 {color: #444444;margin: 50px auto 30px;} h3 {color: #444444;margin-bottom: 50px;}

     .button2 {display: flex;justify-content: center;background-color: #1abc9c;border: none;color: white;
                padding: 13px 10px;text-decoration: none;font-size: 15px;margin: 0px auto 35px;cursor: pointer;border-radius: 4px;}";
    </style>
</head>
<body>
    <h1> Nodo di {{title}} aggiunto con successo </h1>
    <br><br>
    <form action="/index" >
        <button class="button button2"  type="submit" > Aggiungere un sensore per {{conf}}</button>
    </form>
 <form action="/home_con_Sensori">
    <button class="button button2"  type="submit"> Andare al controllo dei sensori</button>
   </form>
</body>
</html>
