<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <meta http-equiv="refresh" content="5">-->
    <title>Stazione di Controllo Vigna 2.0</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <style>
        html {font-family: Helvetica; display: inline-block; margin: 0px auto; text-align: center;}
        .badge-success{font-size: 15px;padding: 10px 20px;}
        .badge-danger{font-size: 15px;padding: 10px 20px;}
    </style>


</head>
<body id="pera">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Stazione di Controllo Vigna 2.0</a>
    </nav>
    <div class="container-fluid" align="center">

        <div class="card mb-2" >
            <div class="row" >
                <div class="col-6 col-md-4">
                    <div class="card-body">
                        <div class="card-title" >
                            Incendio nella Produzione
                        </div>
                        <span id="label1" class="badge {{badge1}}" >{{label1}}</span>
                    </div>
                </div>
                <div class="col-6 col-md-4" >
                    <div class="card-body" >
                        <div class="card-title">
                            Allarme Intrusi nello Stoccaggio
                        </div>
                        <span id="label2" class="badge {{badge2}}">{{label2}}</span>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card-body">
                        <div class="card-title">
                            Incendio nello Stoccaggio
                        </div>
                        <span id="basementTempLabel" class="badge {{badge3}}">{{label3}}</span>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-12 col-md-7 mb-2" align="center">
            <div class="col-12 col-md-5" align="center">
                <h3>Sensori Produzione</h3>
                <table class="table table-bordered table-sm table-striped mt-2" align="center">
                    <tbody>
                        <tr>
                            <th>Temperatura</th>
                            <td><small id="temp">{{temp_v}} °C</small></td>
                        </tr>
                        <tr>
                            <th>Temperatura percepita</th>
                            <td><small id="real_temp">{{real_temp_v}} °C</small></td>
                        </tr>
                        <tr>
                            <th>Umidità</th>
                            <td><small id="hum">{{hum_v}} %</small></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <hr>
    </div>

<script src="http://code.jquery.com/jquery-3.1.1.js"></script>
<script type="text/javascript">
    function doRefresh(){
        $("#pera").load("");
    }
    $(function() {
        setInterval(doRefresh, 1000);
    });
</script>
</body>

</html>
