<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=\"refresh\" content=\"30\" name=\"viewport\" content=\"width=device-width, initial-scale=1.0,
          user-scalable=no\">
    <title>Web LED Control</title>
    <style>html {font-family: Helvetica; display: inline-block; margin: 0px auto; text-align: center;}
body{margin-top: 50px;} h1 {color: #444444;margin: 50px auto 30px;} h3 {color: #444444;margin-bottom: 50px;}



    </style>
</head>
<body>
<form action="/confirm" method="POST">
    <h1>New node MAC address:</h1><br>
    <input type="text" name="slave">
    <br><br>
    <button type="submit">confirm</button>
</form>
</body>
</html>
